
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* navigation bar styling */
.navbar{
    position: fixed;
    width: 100%;
    font-family: 'ubuntu', sans-serif;
    padding: 15px 0;
    transition: all .3s ease;
}

.navbar .sticky{
    background-color: green;
    padding: 15px 0;
}

.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: all o.3s ease;
}

.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.navbar.sticky .logo a span{
    color: white;
    transition: all .3s ease;
}

.navbar.sticky .menu li a:hover{
    color: white;

}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-width{
    max-width: 1300px;
    margin: 0 80px;
    padding: auto;
}

.navbar .menu li a:hover{
    color: rgb(38, 139, 38);
}

.navbar .logo a span{
    color: rgb(38, 139, 38);
}



/* Home styling */
.home{
    display: flex;
    background: url(images/_DSC1468.JPG) no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
        font-size: 30px;
}

.home .home-content .text-2{
    font-size: 30px;
    font-weight: 600;
    margin-left: -3px;
}   

.home .home-content .text-3{
    font-size: 40px;
    font-weight: 600;
    margin: 5px 0;
} 

.home .home-content .text-3 span{
    color: rgb(38, 139, 38);
    font-weight: 500;
}

/* About styling */
.about{
    font-family: 'Poppins', sans-serif;
}

.about .title{
    font-family:'ubuntu', sans-serif;
    text-align: center; 
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
}

section{
    padding: 100px 0;
}

.about .title::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    background: #111;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
}